{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Sign up here{% endblock %}

{% block content %}

<div class="container form-style">
  <div class="container text-right">
    <h2>Please fill in to register an account</h2>
    <form method="post">
      <div class="form-group">
        {{ form|crispy }}
        {% csrf_token %}
      </div>
      <p><input type="submit" value="Register"
      class="btn btn-dark text-center btn-hover std-btn-width"></p>
    </form>
  </div>
</div>
{% endblock %}