@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* General Styles */

body {
    background-color: rgb(245, 240, 240) !important;
    font-family: "Playfair Display", serif;
}

a {
    color: rgb(12, 11, 11);
}

.btn {
    background-color: rgb(224, 220, 220);
    color: rgb(12, 11, 11);
    border-color: rgb(12, 11, 11);
}

.btn:hover {
    background-color: rgb(92, 82, 82);
    color: rgb(12, 11, 11);
    border-color: rgb(12, 11, 11);
}

.btn-lg {
  --bs-btn-font-size: 1rem;
}
.scale {
    width: 100%;
    height: auto;
}

.page-link {
    color: rgb(12, 11, 11);
}

.footer-section {
    background-color: rgb(224, 220, 220);
}

/* Header on main page */
.mask {
    background: linear-gradient(45deg, black, transparent);
}

/* Blog List on main page */
.blog-teaser {
    border-radius: 33px;
    border-bottom-width: 8px;
}

.teaser-image {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.teaser-image:hover {
  transition-duration: 1s;
  opacity: 70%;
}

.card-img-top {
  border-radius: 25px;
}

/* Scroll to top button */
.top-btn {
  all: unset;
  font-size:1.5rem; 
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transform:scale(1.8);
  opacity: 0;
  transition: .3s;
}

