<!DOCTYPE html>

<html lang="en" class="404-html">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>JD Health Fitness 404 Page</title>


<!-- 404 CSS -->

<link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}">

</head>

<body>


<!--Page from https://codepen.io/Jarowe/pen/KNYxKe-->

<div id="svgContainer"></div>


<h2>Page Not Found</h2>

<a class="nav-link" href="{% url 'home' %}">Go Back</a>

<!-- Javascript for 404 -->
<script src="static/js/404.js"></script>
</body>
</html>